.STR_1 {
    width: 1200px;
    background: url(Фон2.png) 100% 100% no-repeat ;
    background-size: cover;
  display: grid;
  grid-template-rows: 1fr 30fr ;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas:
  "a a a"
  "l b r"   ;
text-align:center;  
}